# Sony PDX245 Telephony SELinux Policy (board)
#
# DISABLED: QPR2 regression revert (Feb 16, 2026)
#
# This policy allowed platform_app to find telephony HAL services
# via hwservice_manager. Part of the QPR2 telephony stack that caused
# SMS receive regression. See sepolicy_system_ext/telephony.te for details.
#
# allow platform_app hal_telephony_hwservice:hwservice_manager { find };
